body{
  background-color: #fefcf3;
}

h1{
  text-align: center;
}
 p{
   text-align: center;
 }



a:link{
  text-decoration: none;
  color: #fefcf3;
}
a:visited{
 
  columns: red;
}
a:hover{
  color: hotpink;

}
a:active{
color: blue;
}

.navigation-bar{
  display: block;
 
  background-color: grey;
  margin: 0 auto;
  
  text-align: center;
  align-self: center;
  height: 80px;
  width: auto;
  
}
 .navigation-bar ul{
   display: inline-block;
   vertical-align: middle;


   height: 30px;
   width: auto;
   margin-top: 30px;
   text-align: center;
   list-style: none;
   

 }
.navigation-bar ul li{
display: inline-block;

margin: 0 auto;
padding-right: 5px;

}

.navigation-bar ul li a{
font-size: large;
font-weight: 600;
}

header{
  display: inline-block;
  background-color: blue;
  margin: 0 auto;
  width: auto;
  text-align: center;
}
header p{
  margin: auto 0;
  color: #fefcf3;
  padding-right: 20px;
}

.mypic{
  border-radius: 50%;
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: red;
}












to_top{
  text-align: center;
}
